<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="container">
        <header>
            <div class="titre">BdLoc</div>
            <nav>
                <ul class="nav nav-pills" id="menu">
                    <li><a role="presentation" class="active" href="#" title="BDLOC | BD">Les BDs</a></li>
                    <li><a role="presentation" class="active" href="#" title="BDLOC | Panier">Mon panier</a></li>
                    <li><a role="presentation" class="active" href="#" title="BDLOC | Compte">Mon compte</a></li>
                </ul>
            </nav>

            <p id="pseudo_deco">Bonjour machin</p></br>
            <a id="deco" href="#" title="BDLOC | déconnexion">Déconnexion</a>
        </header>
    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
