{% extends 'base.html.twig' %}

{% block body %}

    <h2 id="titre_compte">SARL AAS-Bdloc : </h2>

    <h3>Origine</h3>

    <p>AAS-Bdloc est une SARL fondée en 2015 par trois collaborateurs :</p>

    <ul id="ul_about_author">
        <li class="li_about">Arthur JACQUEMIN</li>
        <li class="li_about">Alexandre MASSE</li>
        <li class="li_about">Samir Boulassel</li>
    </ul>

    <h3 class="h3_about">Face aux constats suivants...</h3>
    <ol>
        <li>Les gens n’ont plus le temps d’aller à la bibliothèque</li>
        <li>Les bibliothèques sont ringardes et old-school, surtout pour les jeunes</li>
        <li>Les bandes-dessinées se lisent toujours beaucoup en France</li>
        <li>Les bandes-dessinées coûte la peau des dents (autour de 12€, voire 15€) et se consomment très rapidement (autour d’une heure max.)</li>
        <li>Les bandes-dessinées ne sont pas vendues en format numérique</li>
    </ol>

    <p>La Ville de Paris a chargée la société Bdloc de proposer un nouveau système de location de BD,
        bdloc.fr, <span class="span_about">100% en ligne</span>,
        <span class="span_about">100% gratuit</span>, <span class="span_about">100% moderne</span>.
    </p>

    <h3>Fonctionnement</h3>
    <p>Les abonnés à bdloc.fr louent leurs bandes-dessinées par internet.
        Celles-ci sont choisies directement sur le catalogue en ligne,
        et livrées en point relais près de chez-eux. Après les avoir lues,
        l’abonné les rééexpédie par le point relais, et peut alors en commander de nouvelles.
    </p>

{% endblock %}