{% extends 'base.html.twig' %}

{% block body %}

    <h2>SARL AAS-Bdloc </h2>

    <form class="form-signin" action="{{ path('contact') }}" method="post">

        <label for="message_user">Votre message : <br />
        <textarea name="textarea_contact" cols="30" rows="10"></textarea>
        </label>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer votre message</button>
    </form>

{% endblock %}