{% extends 'base.html.twig' %}



{% block body %}
    <form id="liste_deroul">
                <SELECT class="form-control">
                    {% for pickup in pickupspots %}
                        <OPTION> {{pickup.nom}} {{pickup.adresse}} {{pickup.cp}} {{pickup.ville}}
                    {% endfor %}
                </SELECT>

                <button type="submit" class="btn btn-default" id="bt_valid">Choisir</button>
            </form>
{% endblock %}

