body
{
    background: grey;
}
#container
{
    margin: 0px auto;
    margin-top:2.5em;
    background: white;
    width:960px;
    padding:20px;
    border-radius: 0px;
}

#logo {
    width: 206px;
    float: left;
    display: inline;
}


/*/////////////////////////////////////////////////////////////////////*/
/*////////////////////////PAGE ACCUEIL/LOGIN///////////////////*/
/*/////////////////////////////////////////////////////////////////////*/

#header_login
{
    float: left;
}

.bt_co
{
    margin-top:5%;
}

#ptite_ligne
{
    font-size: 70%;
    margin-top: 5%;
}

#register
{
    font-size: 85%;
}

#register a
{
    color: #D8D8FF;
}

/*/////////////////////////////////////////////////////////////////////*/
/*////////////////////////PAGE DE RECHERCHE + Liste des BD ///////////////////*/
/*/////////////////////////////////////////////////////////////////////*/

#logo
{
    margin: 5px;
    width: 100%;
}

header
{
/*    background: #F0F0F0;*/
    width:100%; 
}




#pseudo_deco
{
    float:right;
    font-size: 80%;
    margin-bottom: 0px;

}

#deco
{   
    float:right;
    font-size: 80%;
    margin-bottom: 2.25em;
}


/*/////// liste de checkbox //////*/
#block_filtre
{
    float:left;
    margin-top:5em;
    width: 20%;
}

.entete
{
    font-weight: bold;
}

#block_filtre fieldset
{
    border:0.1em solid black;
    padding : 1em;
}

#block_filtre fieldset legend
{
    font-size: 1em; 
    width: 30%;
    padding: 0em 0.5em;
}

fieldset label
{
    width:100%;
}

#dispo
{
    margin-top:15%;
}

#bt_filtre
{
    margin-top:1em;
}

/*////// Bloc représentant la liste des BDs /////////*/
#block_all
{
    margin-top:7.7%;
    width: 75%;
    /*background : blue;*/
    float:left;
    margin-left:1em;
}


    /*////// liste déroulantes et pages //////*/
    #block_all fieldset
    {
        border: 0.1em solid black;    
    }

    #block_all fieldset legend
    {
        width: 10%;
        font-size: 100%; 
        margin:0 0 0 10%;
        padding: 0% 0.5%;
    }

    .liste_tri
    {
        float:left;
        width : 25%;
        margin:0 0 1% 3%;
    }


    /*/////// Chaque article représentant les BDs//////*/
    .search_bd
    {
        margin:5% 0 0 2.5%;
        border:0.1em solid black;
        width: 45%;
        height:230px;
        float:left;
        padding:2%;
    }

        .image_bd
        {
            height:100%;
            width:50%;
            float:left;
        }

        .detail_bd
        {
            width: 40%;
            margin: 0 0 0 2%;
            float:left;
        }

        .stock_bd
        {
            width: 40%;
            margin: 15% 0 0 2%;
            float:left;
        }


/*/////////////////////////////////////////////////////////////////////*/
/*////////////////////////PAGE Panier///////////////////*/
/*/////////////////////////////////////////////////////////////////////*/
#pan
{
    margin-top: 120px;
}

.article_panier
{
    margin-top: 2em;
    height: 10em;
    padding : 1%;
    border: 1px solid black;
}

.image_article
{
    float: left;
    width:10%;
    height:8.5em;
}

.titre_article
{
    float: left;
    margin: 5% 0 0 5%;
    font-size: 120%;
}

.bt_suppr
{
    background: none;
    border: 0px;
    float: left;
    margin: 5% 0 0 5%;
    font-size: 120%;
}

.sup_article
{
    float: left;
    margin-top:5.5%;
    font-size: 80%;
}

#bt_valider
{
    margin-top:2em;
    margin-right: 80%;
}

#bt_back
{
    margin-top:1em;
}


/*/////////////////////////////////////////////////////////////////////*/
/*////////////////////////PAGE Informations perso///////////////////*/
/*/////////////////////////////////////////////////////////////////////*/


#titre_compte 
{
    margin-top: 5%;
}

#info_perso
{
    margin-top:3em;
    border: 1px solid black;
    border-radius: 15px;
    padding:2%;
}


.label_info
{
    font-weight: bold;
}


/*/////////////////////////////////////////////////////////////////////*/
/*////////////////////////PAGE Choix du point relai///////////////////*/
/*/////////////////////////////////////////////////////////////////////*/

#liste_deroul
{
    text-align: center;
    margin-top: 30%;
    margin-left: 10%;
    width: 100%;
    height: 4em;
}

.form-control
{
    width: 50%;
    float: left;
}

#bt_valid
{
    float: left;
}


/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////PAGE Detail book///////////////////*/
/*/////////////////////////////////////////////////////////////////////*/
/*titre de la BD*/
#entete_detail
{
    width: 100%;
    height: 2.5em;
    border: 1px solid black;
    border-bottom: 0px;
    margin-top: 5em;
    text-align:center;
    border-radius:15px 15px 0 0;
}

.titre_BD
{
    float: left;
    width:100%;
    font-weight: bold;
    font-size:150%;
}


/*Cadre Présentation*/
#bloc_detail
{
    width: 100%;
    height: 40em;
    border: 1px solid black;
    padding: 2%;
    border-radius: 0 0 15px 15px;
}

    #img_detail
    {
        float: left;
        width: 40%;
        height: 95%;
        margin-top:1.5%;

    }

    /*Détail de la BD*/
    #book_detail
    {
        padding : 0 2% 0 2% ;
        float: left;
        width: 60%;
    }

    
        .detail_BD
        {
        /*  float: left;*/
            margin-top: 5%;
        }

        #page_prec
        {
            float: right;
            margin-top: 30%;
            color: black;
         }

        .bt_ajout
        {
           margin-top: 32.5%;
        }
